
.container{
    background-color:#373e98;
}
.assignment-card{
    position:relative;
    vertical-align: middle;
    width:100%;
    padding-left: 9%;
}
.card{
    width:90%;
    min-height: 700px;
    background-color:#F5EBE3;

}
a{
    padding: 20px;
    font-size: 1.3em;
    color: #835C26 !important;
}
.btn {
    background-color: #373e98 !important;
     color: white !important;
     margin: 20px !important;
     margin-top: 30px !important;
     padding:10px !important;
}

.row{
    padding:30px;
    font-size: 2em;
    padding-bottom: 5em;
}

nav {
    box-shadow: 2px 2px 2px;
}